name: Pull Request
on:
  pull_request:
    branches:
      - main
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
permissions: read-all
jobs:
  nix-check:
    name: Nix Check
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
        with:
          # See: https://github.com/actions/checkout/issues/504
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v15
        with:
          name: x1e-nixos-config
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix flake check

  nix-build:
    name: Nix Build (${{ matrix.system }})
    runs-on: ${{ matrix.runner }}

    strategy:
      matrix:
        include:
          - system: aarch64-linux
            runner: ubuntu-24.04-arm
          - system: x86_64-linux
            runner: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          # See: https://github.com/actions/checkout/issues/504
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: cachix/install-nix-action@v31
      # Based on: https://carlosbecker.com/posts/github-actions-disk-space/
      - run: |
          sudo rm -rf \
            /usr/share/dotnet /usr/local/lib/android /{usr,var}/lib/snapd \
            /opt/{az,containerd,hostedtoolcache,ghc,google,mssql-tools,pipx*} \
            $HOME/.{rustup,cargo,dotnet}
          sudo docker image prune --all --force
          sudo docker builder prune -a
      - uses: cachix/cachix-action@v15
        with:
          name: x1e-nixos-config
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: ./scripts/ci.sh
